---
title: Cuvee 2016
---

<div class="banner">
  <%= image_tag "philo_banner.jpg", id: "", class: ""%>
</div>

<div class="container">
  <div class="row">
    <div class="welcome text-center padded">
      <div class="ed2015-title container-edition">
        <h1><i class="fa fa-archive"></h1><h1 class="padded-bottom"></i>Cuvée 2016</h1>
        <p>En 2016, l'Ingénieur Liberté a chevauché à travers les grandes plaines de l’Ouest américain en quête de pépites, de mythes et de coyotes. Il en est revenu avec un nouveau texte à traduire.</p>
        <p>C'est un chant sans auteur, aussi vagabond qu'un trimardeur, qu'on fredonna ce printemps. Il avait le goût de l'Amérique épique toujours perdue jamais trouvée, cet aigre-doux que connaît bien l'Ingénieur Liberté.
        </p>
        <h4>Root Hog or Die !</h4>
      </div>
    </div>
  </div>
</div>
<div class="container-grey">
  <div class="container">
    <div class="row">
      <div class="welcome text-center padded">
        <div class="traducted-text">
          <h1><i class="fa fa-pencil"></i></h1><h1>Le texte de la cuvée 2016</h1>
          <h3>A Philosophical Cowboy</h3>
          <p>(Anonyme)</p>
          <p>On the Double Circle Range where the grass grows green
            <br>The cattle get wild and the broncs get mean
            <br>And the calves get bigger as the days go by,
            <br>So we got to keep a-rimming, boys, it's root hog or die.
          </p>
          <p>In the morning after breakfast about daylight;
            <br>Throw your saddle on a horse and pull your cinches tight
            <br>Your bronc may jump crooked or he may jump high
            <br>But we all got to ride them, boys, it's root hog or die.
          </p>
          <p>Oh, the hills are rough and rocky but we got to make the drive
            <br>When you start a bunch of cattle you better come alive
            <br>If you ever get a maverick you must get him on the fly
            <br>So you better take to them, boys, it's root hog or die.
          </p>
          <p>When the long day is over you'll be glad to see the chief
            <br>With a pot of black coffee and another full of beef
            <br>And some sour dough biscuits to take the place of pie
            <br>When he hollers, "Come and git it," it's root hog or die.
          </p>
          <p>In the middle of the night it is sometimes awful hard
            <br>To leave your warm blankets when you're called on guard
            <br>And you pass the weary moments while the stars are in the sky
            <br>Humming to the cattle, boys, it's root hog or die.
          </p>
          <p>Sometimes it's dreadful stormy and sometimes it's pretty clear
            <br>You may work a month and you might work a year
            <br>But you can make a winning if you'll come alive and try
            <br>For the whole world over, boys, it's root hog or die.
          </p>
          <p>
            <br><i>Texte tiré de Cowboy and Western Songs, Fine & Fine, tous droits réservés</i></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container palmares-container">
  <div class="row">
    <div class="welcome text-center padded">
      <div class="palmares">
        <h1 ><i class="fa fa-trophy"></i></h1><h1 class="padded-bottom">Palmarès 2016<br></h1>

        <div>
          <div class="">
            <%= image_tag "prix_grand_2016.jpg", id: "", class: ""%>
          </div>
          <h3>Grand Prix</h3>
          <h4>Un Cowboy Philosophe</h4>
          <p>
            Dans les monts de Double Circle, sur les plateaux herbeux
            <br>Les vaches se font farouches et les broncos nerveux
            <br>Et comme les jours passent, les veaux font du gras,
            <br>Faut qu’on rassemble tout ça, mon gars, bourrine et tais-toi.
          </p>
          <p>
            Une fois qu’t’as cassé la croûte au petit matin
            <br>Lance ta selle sur un cheval et sangle-la bien
            <br>Que ton bronco s’braque, bondisse ou tournoie
            <br>Faut qu’on les chevauche tous, mon gars, bourrine et tais-toi.
          </p>
          <p>
            Oh, les collines sont rudes et dures mais quand faut y aller, faut y aller
            <br>Maint’nant qu’t’as tout un tas d’bestiaux, y vaut mieux t’bouger
            <br>Si jamais t’attrapes un maverick, chope-le fissa
            <br>Vaut mieux qu’tu leur ramènes, mon gars, bourrine et tais-toi.
          </p>
          <p>
            Tu s’ras ravi d’voir le chef à la fin d’la journée
            <br>Avec une gamelle de barbaque et une aut’de café
            <br>Et des petits pains au levain – la tarte, y en a pas
            <br>Quand il beugle « Eh ben, viens t’servir », bourrine et tais-toi.
          </p>
          <p>
            Des fois c’est rudement dur d’lâcher ton plaid chaud
            <br>Quand en pleine nuit faut qu’t’ailles surveiller l’troupeau
            <br>Et là, fourbu et las, tu fredonnes tout bas
            <br>Sous les étoiles, pour le bétail, bourrine et tais-toi.
          </p>
          <p>
            Des fois y fait plutôt beau et des fois sale temps
            <br>Ça s’peut qu’tu bosses un mois, ça s’peut qu’ça dure un an
            <br>Si tu te lèves le maffre, tu peux t’faire du blé crois-moi
            <br>Mais comme tout le monde ailleurs mon gars, bourrine et tais-toi.
          </p>
          <p><i>Traduction de Juliette Mouïren</i></p>
        </div>
        <div>
          <div class="">
            <%= image_tag "prix_audace_2016.jpg", id: "", class: ""%>
          </div>
          <h3>Prix de l'audace</h3>
          <h4>Phallonesome Cow-boy
            <br>(ou : le Cow-boy file au sofa)</h4>
            <p>
              Aux terres du Double O les herbes sont un rêve
              <br>et les têtes sauvages et les broncos vicieux
              <br>Les veaux compt' un printemps comme filent les cieux
              <br>Serre les fesses, Dégun, tire ou crève
            </p>
            <p>Le jour vient à point à qui n'a pas dormi
              <br>enfourche ta cavale, cingle et sangle-la bien
              <br>Qu'elle fasse un écart ou sa bouche le O
              <br>du moment que tu la montes, Dégun, tire et puis jouis
            </p>
            <p>Oh rudes ces collines mais ces monts si laiteux
              <br>quand tu mènes la horde faut pas fermer les yeux
              <br>Celle qui n'est pas marquée tu la prends par la main
              <br>tu la mets où il faut et elle t'a dans la peauooo
            </p>
            <p>Eeeet… le soleil se couche et le cuistot te tend
              <br>un pot de café noir et un steak plutôt bleu
              <br>et des biscuits pour chien qui vous cassent les dents
              <br>quand il te braille "Mange", ou t'avales ou tu rends
            </p>
            <p>A la mi de la nuit pas le choix tu te lèves
              <br>pour que tu prennes ton quart un tiers te sort du pieu
              <br>Hélas, et au lasso tu captures les étoiles
              <br>et fredonnes au troupeau : Dégun, tire ou bien crève
            </p>
            <p>Cinq coups sous l'ouragan, un autre comme en printemps
              <br>tu peux trimer un mois ou bosser tout un an
              <br>mais tu n'auras gagné que si battent tes rêves
              <br>Par tout le vaste monde, c'est : Dégun, tire et crève.
            </p>
            <p><i>Traduction d'Alain Adaken</i></p>
            <p>Le texte était assorti d'une note du traducteur
              <%= link_to 'lire la note', 'assets/note_du_traducteur_demasque.pdf', class:"thin-btn btn btn-success btn-lg", target: :blank %>
            </p>
          </div>
          <div>
            <div class="">
              <%= image_tag "prix_musicalite_2016.jpg", id: "", class: ""%>
            </div>
            <h3>Prix de la musicalité</h3>
            <h4>La cow-girl philosophe</h4>
            <p>
              Dans les étendues indomptées et verdoyantes,
              <br>Les boeufs t'affolent et les étalons te tourmentent,
              <br>Tandis qu'les veaux poussent et jouent les gros bras.
              <br>Remets-les dans le droit chemin, cow-girl, sois libre et ouvre-la...
            </p>
            <p>
              Au lever du jour, p'tit déj' avalé,
              <br>Bien à l'aise dans tes bottes et ta ceinture bouclée,
              <br>Entre dans l'arène, pare les ruades, cahin-caha !
              <br>Reste en selle, cow-girl, sois libre et ouvre-la.
            </p>
            <p>
              Oh, la rue est hostile et pleine de goujats.
              <br>Si tu veux mener, envoie leur donc du lourd,
              <br>Botte le train des mâles les plus cabourds.
              <br>T'as intérêt à tenir tête, cow-girl, sois libre et ouvre-la.
            </p>
            <p>
              Ta longue journée s'achève, soulagée de retrouver ton mec,
              <br>Tu partages avec lui un café noir et un bon steak.
              <br>Quand y t'lance : « viens, y a d'quoi manger », yeehaw !
              <br>Tu sais que t'es dans l'bon, cow-girl, sois libre et ouvre-la.
            </p>
            <p>
              Au beau milieu d'la nuit, à ton tour de veiller.
              <br>Vraiment quelle galère de quitter ton lit douillet.
              <br>Sous la grande ourse, tu fredonnes une berceuse au p'tit gars,
              <br>C'est le jeu, cow-girl, sois libre et ouvre-la.
            </p>
            <p>
              L'horizon est parfois sombre, parfois dégagé,
              <br>Rien n'est jamais acquis, faut qu'tu restes aux aguets,
              <br>Mais lutte, résiste et tu t'imposeras.
              <br>Le monde est à toi, cow-girl, sois libre et ouvre-la !
            </p>
            <p><i>Traduction de Marion Pollart et Laure Clément</i></p>
            <p>Le texte était assorti d'une interprétation
              <%= link_to 'écouter l\'interprétation', 'assets/note_du_traducteur_demasque.pdf', class:"thin-btn btn btn-success btn-lg", target: :blank %>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

