---
title: Cuvee 2017
---

<div class="banner">
  <%= image_tag "oum_banner01.jpg", id: "", class: ""%>
</div>

<div class="container">
  <div class="row">
    <div class="welcome text-center padded">
      <div class="ed2015-title container-edition">
        <h1><i class="fa fa-archive"></h1><h1 class="padded-bottom"></i>Cuvée 2017</h1>
        <p>Remontant une longue rue du Caire cet hiver, l'Ingénieur Liberté, saint patron de notre grand concours, s'est souvenu de la voix d'une femme qui avait marqué sa jeunesse. Cette femme s'appelait Oum. <br> Oum Kalsoum.</p>
        <p>Elle chantait des airs parlant d'amour, de vin et de poésie. Il y en a un en particulier, hédoniste et mystique, vieux de mille ans, qui avait retenu son attention de garnement : c'était l'oeuvre de l'astronome persan Omar Khayyam.</p>
        <p>Pas mal se sont frottés à ces <em>Quatrains</em>, ici et là, jadis et naguère. Ahmed Rami, notamment, en a tiré un poème arabe dont Oum Kalsoum a fait une chanson de légende. Ces strophes ont ainsi parcouru les siècles et les langues, et ne sont pas près de s'arrêter : le 11 juin, l'Ingénieur Liberté offrira d'exquis nectars à ceux qui les auront traduites avec brio, audace ou musicalité.</p>
      </div>
    </div>
  </div>
</div>
<div class="container-grey">
  <div class="container">
    <div class="row">
      <div class="welcome text-center padded">
        <div class="traducted-text">
          <h1><i class="fa fa-pencil"></i></h1><h1>Le texte de la cuvée 2017</h1>
          <h3>Roubayat el Khayyam</h3>
          <p>Ahmed Rami</p>
            <br>
            <div class="text-center arabic-text">
              <p class="arabic-text-title">رباعيات الخيام</p>
              <p>
                <br>
                سمعتُ صوتا هاتفا في السحر<br>
                نادى من الغيب غُفاةَ البشر<br>
                هُبّوا املأوا كأس المنى قبل أن<br>
                تملأ كأسَ العمر كفُّ القدر<br>
                <br>
                لا تشغل البال بماضي الزمان<br>
                ولا بآتي العيش قبل الأوان<br>
                واغنمْ من الحاضر لذاتِه<br>
                فليس في طبع الليالي الأمان<br>
                <br>
                غدٌ بظَهْر الغيب واليوم لي<br>
                وكم يخيب الظن في المقبِلِ<br>
                ولستُ بالغافل حتى أرى<br>
                جمال دنياي ولا أجتلى<br>
                <br>
                القلبُ قد أضناه عشقُ الجمال<br>
                والصدر قد ضاق بما لا يقال<br>
                ياربّ هل يُرضيك هذا الظما<br>
                والماء ينساب أمامي زُلال<br>
                <br>
                أَوْلى بهذا القلب أن يخفق<br>
                وفي ضِرام الحب أن يُحرَق<br>
                ما أضيَع اليوم الذى مرّ بي<br>
                من غير أن أهوى وأن أعشق<br>
                <br>
              </p>
            </div>
            <p>
              <br><i>Traduit du persan par Ahmed Mohammed Rami et chanté par Oum Kalsoum</i>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container palmares-container">
  <div class="row">
    <div class="welcome text-center padded">
      <div class="palmares">
        <h1 ><i class="fa fa-trophy"></i></h1><h1 class="padded-bottom">Palmarès 2017<br></h1>

        <div>
<!--           <div class="">
            <%= image_tag "prix_grand_2016.jpg", id: "", class: ""%>
          </div>
 -->          
          <h3>Grand Prix</h3>
          <br>
          <h4>titre</h4>
          <p>
            texte
          </p>
          <p>
            texte
          </p>
          <p>
            texte
          </p>
          <p><i>Traduction de ...</i></p>
        </div>
        <div>
<!--           <div class="">
            <%= image_tag "prix_audace_2016.jpg", id: "", class: ""%>
          </div>
 -->          
          <h3>Prix de l'audace</h3>
          <br>
          <h4>titre</h4>
          <p>
            texte
          </p>
          <p>
            texte
          </p>
          <p>
            texte
          </p>
          <p><i>Traduction de ...</i></p>
<!--             <p>Le texte était assorti d'une note du traducteur<br>
              <%= link_to 'lire la note', 'assets/note_du_traducteur_demasque.pdf', class:"thin-btn btn btn-success btn-lg", target: :blank %>
            </p> 
-->
          </div>
          <div>
<!--             <div class="">
              <%= image_tag "prix_musicalite_2016.jpg", id: "", class: ""%>
            </div>
-->            
            <h3>Prix de la musicalité</h3>
            <br>
            <h4>titre</h4>
          <p>
            texte
          </p>
          <p>
            texte
          </p>
          <p>
            texte
          </p>
          <p><i>Traduction de ...</i></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

